    .list-d1v1oa6o6wxus8rd {
        background-color: #00FFFF
    }
    .addInput-41oc8z88hxsh6jot {
        background-color: #00FFFF;
    
    }

    .app-xpg5bv4mzsi7prs0 {
        background-color: #000000;
        color: #ffffff;
    
    
    }